
body{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
    background-image: url("./img/forest.jpg");
}
main{
    display: flex;
}
section{
    border: solid whitesmoke;
    border-radius: 10%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: top;
    margin-left: auto;
    margin-right: auto;
}
.task{
    border: dotted 2px;
    border-radius: 10px;
    margin: 10px;
    background-color: yellow;
    overflow:hidden;
    text-align: center;

}
h2{
    background-color: yellow;
}  
h1{
    background-color: yellow;

}
.search-block{
    color: rgb(255, 255, 255);

} 
.opening{
    background-color: yellow;
}
ul{
    padding-left: 0;
}
.dropzone{
    padding: 50px;

}
